.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    left: 12%
    bottom: 12%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 13%
    left: 13%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 22%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//Banners
.banner-principal__info
  @media screen and (max-width: $bp-max-xl)
    padding-right: 5rem
  @media screen and (max-width: $bp-max-md)
    padding-right: 1.125rem
.banner-principal__img
  padding-bottom: 0 !important
  padding-top: 2rem !important
  img
    max-width: 419px
    margin: 0 auto
.banner-principal .tarjeta
  background-position: inherit
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-md.png) !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url(../assets/curso/portada/fondo-banner-principal-movil.png) !important

.banner-interno
  height: 160px
  .banner-interno__fondo
    background-position: right
    background-image: url(../assets/curso/fondo_tema.png) !important
.titulo-principal.color-acento-contenido
  .titulo-principal__numero
    span
      color: $color-sistema-texto

//titulos
.cont-titulo-decorativo
  position: relative
  max-width: max-content
  figure
    width: 40px
    position: relative
  h3
    position: relative
    color: white
  &:before
    content: ""
    position: absolute
    left: 0
    bottom: 0
    right: 0
    top: 23px
    background: rgb(119,55,240)
    background: linear-gradient(180deg, rgba(119,55,240,1) 0%, rgba(41,17,85,1) 100%)
    border-radius: 6px
    z-index: 0

//color de fondos
.fondo-color-sistema-h
  background-color: $color-sistema-h !important
.fondo-color-sistema-i
  background-color: $color-sistema-i !important
.fondo-color-sistema-j
  background-color: $color-sistema-j !important
.fondo-color-sistema-k
  background-color: $color-sistema-k !important
.fondo-color-sistema-l
  background-color: $color-sistema-l !important
.fondo-color-sistema-m
  background-color: $color-sistema-m !important
.fondo-color-sistema-n
  background-color: $color-sistema-n !important
.fondo-color-sistema-o
  background-color: $color-sistema-o !important
.fondo-color-sistema-p
  background-color: $color-sistema-p !important
.fondo-color-sistema-r
  background-color: $color-sistema-r !important
.fondo-color-sistema-s
  background-color: $color-sistema-s !important
.fondo-color-sistema-t
  background-color: $color-sistema-t !important
.fondo-color-sistema-u
  background-color: $color-sistema-u !important
.fondo-color-sistema-v
  background-color: $color-sistema-v !important
.fondo-color-primario
  background-color: $color-primario !important
.fondo-color-acento-contenido
  background-color: $color-acento-contenido !important

//colores
.color-sistema-n
  color: $color-sistema-n !important
.color-acento-contenido
  color: $color-acento-contenido !important

//bordes
.borde-7
  border-radius: 7px !important
.borde-8
  border-radius: 8px !important
.borde-9
  border-radius: 9px !important
.borde-10
  border-radius: 10px !important
.borde-11
  border-radius: 11px !important
.borde-lg-10
  @media screen and (max-width: $bp-max-md)
    border-radius: 10px !important
.borde-12
  border-radius: 12px !important
.borde-13
  border-radius: 13px !important
.borde-15
  border-radius: 15px !important
.borde-16
  border-radius: 16px !important
.borde-19
  border-radius: 19px !important
.borde-20
  border-radius: 20px !important
.borde-21
  border-radius: 21px !important
.borde-23
  border-radius: 23px !important
.borde-lg-28
  @media screen and (max-width: $bp-max-md)
    border-radius: 28px !important

//fondos
.fondo-personalizado-1
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/3.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-2
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/8.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: 120px
  &.pos-2
    &:before
      top: 10px

.fondo-personalizado-3
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/16.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-4
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/17.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-5
  background: rgb(146,41,238)
  background: linear-gradient(180deg, rgba(146,41,238,1) 0%, rgba(98,17,170,1) 20%, rgba(52,9,90,1) 100%)

.fondo-personalizado-6
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/33.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: 20px
  &.pos-2
    &:before
      top: 100px

.fondo-personalizado-7
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/40.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: 10px

.fondo-personalizado-8
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/44.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-9
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/45.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: bottom
  &__contenido
    position: relative
  &.pos-1
    &:before
      bottom: 14%
  &.pos-2
    &:before
      top: 100px
      bottom: 290px

.fondo-personalizado-10
  position: relative
  *
    position: relative
  &:before
    content: ""
    position: absolute
    left: 0
    right: 0
    top: 5px
    bottom: 5px
    z-index: 0
    border-radius: 18px
  &.pos-1
    &:before
      top: 10px
      bottom: 0
  &.color-1
    &:before
      background-color: $color-sistema-r
  &.color-2
    &:before
      background-color: $color-sistema-s
  &.color-3
    &:before
      background-color: $color-sistema-t

.fondo-personalizado-11
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/57.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: 45px

.fondo-personalizado-12
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/65.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative

.fondo-personalizado-burbuja
  position: relative
  .burbuja,.burbuja2
    height: 178px
    width: 178px
    background-color: white
    -webkit-box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    -moz-box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.08)
    border-radius: 50%
    position: absolute 
    &.right
      right: 0
      transform: translateX(calc( 50px +  89px))
    &.left
      left: 0
      transform: translateX(calc( -50px -  89px))
    &.bottom
      bottom: 0
      transform: translateY(calc( 50px +  89px))
  .burbuja2
    height: 294px
    width: 294px
    &.right
      right: 0
      transform: translateX(calc( 50px +  147px))
    &.left
      left: 0
      transform: translateX(calc( -50px -  147px))
  &__contenido
    position: relative

.fondo-personalizado-13
  position: relative
  overflow: hidden
  &:before
    content: ""
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
    z-index: 0
    background-color: #E8EEFE
  &__contenido
    position: relative
  .imgf-1
    position: absolute
    max-width: 141px
    left: 0
    top: 0
    transform: translateX(-55%) translateY(-15%)
  .imgf-2
    position: absolute
    max-width: 88px
    bottom: 0
    left: 0px
    transform: translateY(50%) translateX(30%)
  .imgf-3
    position: absolute
    max-width: 80px
    top: 0
    left: 300px
    transform: translateY(38%) translateX(25%)
  .imgf-4
    position: absolute
    max-width: 107px
    top: 0
    right: 0
    transform: translateY(-48%) translateX(48%)
  .imgf-5
    position: absolute
    max-width: 367px
    bottom: 0
    right: 0
    transform: translateY(50%) translateX(64%)

.fondo-personalizado-14
  position: relative
  &:before
    content: ""
    position: absolute
    width: 120%
    left: -10%
    top: 0
    bottom: 0
    z-index: 0
    background-image: url(../assets/curso/temas/79.png)
    background-repeat: no-repeat
    background-size: cover
  &__contenido
    position: relative
  &.pos-1
    &:before
      top: 230px

.fondo-personalizado-15
  position: relative
  &:before
    content: ""
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 0
    background-color: white
    border-radius: 24px
    -webkit-box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.1)
    -moz-box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.1)
    box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.1)
  *
    position: relative
  &.pos-1
    &:before
      top: 45px

//figuras
.figura-deco-1
  z-index: 1
  bottom: 38px
  @media screen and (max-width: $bp-max-md)
      bottom: 0px

//contenedores
.cont_1_1
  position: relative
  *
    position: relative
  &:before
    border-radius: 8px
    content: ""
    position: absolute
    top: 0
    left: -10%
    right: 0
    bottom: 0
    background-color: white
    z-index: 0
    @media screen and (max-width: 992px)
      left: 0

//tarjetas
.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 22px
.crd_hover_txt .crd_hover_txt--body
  position: absolute
  width: 100%
  min-height: 70px
  display: flex
  align-items: center
  justify-content: center
  padding: 0.2rem 0.5rem
  bottom: 0
  background-color: $color-primario

.num-tarjeta-1
  font-size: 40px
  font-weight: bold
  position: absolute
  top: 0
  left: 0

//imagen infografica
.imagen-infografica-personalizada-1
  .img-infografica__item, .img-infografica-b__item
    width: 4%
    @media screen and (max-width: $bp-max-md)
      width: 9%

    
  .tarjeta
    background-color: white
  .img-infografica__item__numero
    font-size: 1.5rem

//sombras
.sombra-1
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)

//listas
.lista-personalizada-1
  li
    display: flex
    margin-bottom: 20px

.lista-personalizada-2
  li
    display: flex
    align-items: baseline
    margin-bottom: 20px

.list-dec-1
  span
    display: inline-flex
    width: 24px
    height: 24px
    font-weight: bold
    align-items: center
    justify-content: center

//acordiones
.acordion-personalizado-1
  &__tarjeta
    .acordion__header
      margin-bottom: 1.2rem !important
    padding-right: 1.2rem !important
    padding-left: 1.2rem !important
    padding-top: 1.2rem !important
    border-radius: 4px
    background-color: $color-primario
    .acordion__titulo
      h3
        color: white !important
    &.acordion__activo
      background-color: $color-sistema-q
      .acordion__titulo
        h3
          color: $color-sistema-texto !important
  .acordion__accion__btn--a
    background-color: $color-acento-botones !important

//tablas
.tabla-a
  thead
    th
      color: white !important

.tabla-personalizada-1
  &.tam-1
    table
      width: auto !important
      min-width: 100% !important
  &.stripped
    tbody
      tr:nth-child(odd)
        background-color: $color-sistema-h
      tr:nth-child(even)
        background-color: white

//tabs
.tab-a-personalizado-1
  .tabs-a__tab
    background-color: $color-primario
    color: white

//slyders
.slider-personalizado-1
  .slyder-f__btn
    position: relative
    *
      position: relative
    &:before
      content: ""
      background-color: #FFCE00
      position: absolute
      height: 50px
      width: 50px
      z-index: 0
      border-radius: 50%
      @media screen and (max-width: 576px)
        width: 30px
        height: 30px
    i
      font-size: 1rem
      color: $color-sistema-texto

//contenedores
.cont_3_1
  border-bottom-left-radius: 22px
  border-bottom-right-radius: 22px
  position: relative
  top: -20px